# BEGIN WordPress
# Die Anweisungen (Zeilen) zwischen `BEGIN WordPress` und `END WordPress` sind
# dynamisch generiert und sollten nur über WordPress-Filter geändert werden.
# Alle Änderungen an den Anweisungen zwischen diesen Markierungen werden überschrieben.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress


#<IfModule mod_expires.c>
#  ExpiresActive On
#  ExpiresByType image/jpeg "access plus 1 hour"
#  ExpiresByType image/gif "access plus 1 hour"
#  ExpiresByType image/png "access plus 1 hour"
#  ExpiresByType text/html "access plus 1 hour"
#  ExpiresByType text/css "access plus 1 hour"
#  ExpiresByType text/javascript "access plus 1 hour"
#  ExpiresByType application/javascript "access plus 1 hour"
#</IfModule>

#<IfModule mod_expires.c>
#  <IfModule mod_headers.c>
#    <filesMatch "\.(ico|jpe?g|png|gif|swf)$">
#      Header append Cache-Control "public" max-age=3600  
#    </filesMatch>
#    <filesMatch "\.(css)$">
#      Header append Cache-Control "public" max-age=3600
#    </filesMatch>
#    <filesMatch "\.(js)$">
#      Header append Cache-Control "public" max-age=3600
#  </filesMatch>
#    <filesMatch "\.(html|php)$">
#      Header append Cache-Control "public" max-age=3600
#    </filesMatch>
#  </IfModule>
#</IfModule>